.image{
	background-image: url(img1.png);
	
	width: 360px;
	height: 260px;
}

.container{
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.container:hover .image {
	transform: skewX(5deg);
}
.container:hover .leftdiv{
	background-color: dodgerblue;
}
.leftdiv{
	width: 9%;
	background-color: #000;
}
.leftdiv>img{
	width:32px;
	height: 32px;
}
.rightdiv{
	width: 86%;
}
.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
